/*-----------------Browser reset-----------------*/

* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  padding: 0;
}

/*-----------------Mobile View-----------------*/

/*-----------------Element Selectors-----------------*/

body {
  background: #F3F2F3;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 45rem;
  scroll-behavior: smooth;
  height: 100%;
}

footer {
  background: #F3F2F3;
  position: sticky;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

h1 {
  font-size: 2.5rem;
  margin: 1rem 1rem 0 1rem;
}

h2 {
  font-size: 1.5rem;
  padding: 0 1rem 1rem 1rem;
}

h3 {
  font-size: 1.25rem;
  padding-left: .5rem;
}

/*-----------------Class Selectors-----------------*/

.hidden {
  display: none;
}

.externalLinkPic a * {
  width: auto;
}

.linkImg {
  height: 2rem;
}

.mainSection {
  border-bottom: thin solid #2C4C7A;
  padding: 1rem .75rem;
}

.mainContent {
  margin: 1rem 0.5rem;
  padding: 1rem 0 1rem .5rem;
}

.mobileIcon {
  color: #000;
  font-size: 2rem;
  padding: 0 1.25rem;
}

.noUnderline {
  text-decoration: none;
}

.visibleMobileNav {
  width: 100% !important;
}

/*-----------------ID Selectors-----------------*/

#widescreenNav {
  display: none;
}

#externalLinks {
  display: flex;
  justify-content: space-evenly;
}

#mobileNav {
  margin: 2rem 1rem;
  line-height: 2;
  list-style-position: inside;
}

#mobileNav li {
  margin: 0 1rem;
  border-bottom: thin solid #fff;
}

#mobileNav > ul {
  list-style-type: none;
}

#mobileNav a {
  color: #FFF;
  font-size: 1.5rem;
  font-weight: 925;
  padding: 1rem 1rem;
}

#mobileNav li:active {
  background-color: #9C9FA1;
}

#overlay {
  background-color: #2C4C7A;
  height: 100vh;
  left: 0;
  position: fixed;
  overflow-x: hidden;
  top: 0;
  transition: 0.5s;
  width: 0;
  z-index: 1;
}

/*-----------------widescreen View-----------------*/

@media screen and (min-width: 42rem) {

/*-----------------Element Selectors-----------------*/

footer {
  display: none;
}

/*-----------------Class Selectors-----------------*/

  .linkImg {
    height: 3rem;
  }

  .mainSection {
    padding: 2rem 4rem;
  }

  .mainContent {
    margin: 1rem;
  }

  .mobileIcon {
    display: none;
  }

/*-----------------ID Selectors-----------------*/

  #widescreenNav {
    background-color: #F3F2F3;
    left: 0;
    display: flex;
    justify-content: center;
    position: sticky;
    margin: 1rem auto;
    padding: .75rem 1rem;
    top: 0;
    width: 100%;
    will-change: transform;
  }

  #widescreenNav li {
    display: inline-block;
  }

  #widescreenNav a {
    border-radius: 1rem;
    color: #3E3E5A;
    font-size: 1.25rem;
    font-weight: 800;
    margin: 0 1rem;
    padding: .75rem 2.5rem;
    width: auto;
  }

  #widescreenNav a:hover {
    background-color: #2C4C7A;
    color: #fff;
  }

  #widescreenNav a:active {
    background-color: #9C9FA1;
  }

  #overlay {
    display: none;
  }

}
